:root {
  --header-height: 10vh;
  --footer-height: 7vh;

  --main: #dee2e6;
  --main-tint: #f1f3f5;
  --main-shade: #adb5bd;
  --main-gradient: linear-gradient(
    180deg,
    var(--main-tint) 30%,
    var(--main) 80%
  );

  --accent: #22b8cf;
  --accent-tint: #66d9e8;
  --accent-gradient: linear-gradient(
    180deg,
    var(--accent-tint) 30%,
    var(--accent) 80%
  );

  --grey: #333;
  --grey-shadow: #888;

  --box-shadow: var(--grey-shadow) 0px 2px 5px -1px, var(--grey-shadow) 0px 1px 3px -1px;

  --mat-autocomplete-background-color: var(--main-tint);
  --mat-button-text-label-text-color: var(--accent);
  --mat-form-field-outlined-label-text-color: var(--grey);
  --mat-icon-color: var(--accent);
  --mat-tree-button-color: var(--grey);

  scrollbar-color: var(--accent);
  user-select: none;
}

a {
  text-decoration: none;
}
