:root {
  --header-height: 10vh;
  --footer-height: 7vh;

  --main: #dee2e6;
  --main-tint: #f1f3f5;
  --main-shade: #adb5bd;
  --main-gradient: linear-gradient(
    180deg,
    var(--main-tint) 30%,
    var(--main) 80%
  );

  --accent: #22b8cf;
  --accent-tint: #66d9e8;
  --accent-gradient: linear-gradient(
    180deg,
    var(--accent-tint) 30%,
    var(--accent) 80%
  );

  --grey: #444;

  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --mat-button-text-label-text-color: var(--accent);
  --mat-icon-color: var(--accent);

  scrollbar-color: var(--accent) transparent;
  user-select: none;
}

a {
  text-decoration: none;
}
