:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: auto;
}

img {
  display: block;
  width: 98%;
  height: 96%;
  margin: auto;
  border-radius: 1%;

  transition-duration: 0.2s;
  transition-property: box-shadow;
}

img:hover {
  box-shadow: var(--accent) 0px 3px 6px, var(--accent) 0px 3px 6px;
}
