:host {
  background: var(--main-gradient);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  width: 90vw;
  padding: 0 5vw;
  color: var(--accent);
  font-size: 1.4em;
}

span {
  margin-left: auto;
}
