:host {
  --button-size: 50px;

  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 20% 30% 30% 20%;
  align-items: center;
  --mat-button-text-label-text-size: 1.8em;
  --mat-icon-button-icon-size: calc(0.6 * var(--button-size)); /*24px*/
  --mat-icon-button-state-layer-size: var(--button-size); /*40px*/
}

span {
  margin: auto;
  font-size: 3em;
  color: var(--grey);
}

button {
  margin: auto;
}

.material-icons {
  font-size: 1em !important;
}
