<span style="grid-column: 1 / span 4">{{ searchService.selectedYear() }}</span>
@if (searchService.selectedYear() != searchService.minYear()) {
  <button style="grid-column: 1"
          matIconButton
          (click)="searchService.changeYear('prev')">
    <mat-icon>arrow_backward</mat-icon>
  </button>
}

<button style="grid-column: 2"
        [disabled]="searchService.selectedYear() == searchService.minYear()"
        matButton (click)="searchService.setYearToMin()">
  {{ searchService.minYear() }}
</button>
<button style="grid-column: 3"
        matButton
        [disabled]="searchService.selectedYear() == searchService.maxYear()"
        (click)="searchService.setYearToMax()">
  {{ searchService.maxYear() }}
</button>
@if (searchService.selectedYear() != searchService.maxYear()) {
  <button style="grid-column: 4"
          matIconButton
          (click)="searchService.changeYear('next')">
    <mat-icon>arrow_forward</mat-icon>
  </button>
}
