:host {
  background: var(--main-gradient);
  box-shadow: var(--box-shadow);
  display: flex;
  height: var(--header-height);
  width: 100%;

  --mat-button-text-label-text-size: 1.8em;
}

div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-icon {
  --icon-size: 50px;

  margin-left: 2%;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
  cursor: pointer;
}

mat-icon:hover {
  --mat-icon-color: var(--accent-tint)
}

h1 {
  background: var(--accent-gradient);
  font-size: 4em;
  margin: auto 0;
  padding: 10% 0;
  user-select: none;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text {
  display: flex;
  height: 100%;
  width: fit-content;
}

.login-btn {
  margin-left: auto;
}

.add-pct-btn {
  margin-left: auto;
}
