<div>
  <a href="/main" class="main-text">
    <h1>Nasz Ursynów</h1>
  </a>
  @switch (themeService.theme()) {
    @case ('default') {
      <mat-icon (click)="onChangeTheme()">brightness_7</mat-icon>
    }
    @case ('dark') {
      <mat-icon (click)="onChangeTheme()">dark_mode</mat-icon>
    }
    @case ('contrast') {
      <mat-icon (click)="onChangeTheme()">contrast</mat-icon>
    }
  }

  @if (showLoginButton()) {
    <a href="/login" class="login-btn">
      <button matButton
              aria-label="Example icon button with a vertical three dot icon">
        Twoje Konto
      </button>
    </a>
  } @else if (userAccountService.isAuthenticated.value) {
    <a href="/upload" class="add-pct-btn">
      <button matButton
              aria-label="Example icon button with a vertical three dot icon">
        Dodaj Zdjęcia
      </button>
    </a>
    <button matButton
            (click)="onLogOut()"
            aria-label="Example icon button with a vertical three dot icon">
      Wyloguj Się
    </button>
  }
</div>
